#what .items .item {
  display: flex;
  text-align: left;
}

#what .items .item span {
  margin-right: 20px;
  align-self: center;
  margin-bottom: 0;
}

#what .items {
  display: block;
  padding: 10px;
}

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 10px;
    align-items: center;
  }

  #contact {
    display: block;
  }

  #contact .map {
    height: 200px;
  }
}
